################################################
# OS
################################################

.DS_Store

################################################
# Editors
################################################

# Vim swap files

*.swp
*.swo

# Emacs swap and write-lock files

*~
.\#*
\#*

# Intellij IDEA

/.idea
*.iml

################################################
# Build
################################################

/.env
/build
/dist
/node_modules
/Makefile

################################################
# Python
################################################

# Compilation

*.pyc
*.pyo
*.pyd
*.so
__pycache__

# Distribution / packaging

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs

pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports

htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations

*.mo
*.pot

# Django stuff

*.log

# Sphinx documentation

_build
