<html>
<head>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/rfc-clean.css" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<style type="text/css">
    .draft-container {
        margin-left: auto;
        margin-right: auto;
        width: 555px;
    }
    .draft-container pre {
        font-family: "Ubuntu Mono";
        font-size: 15px;
        padding: 0px !important;
        border: none !important;
        background: none !important;
        color: #555555;
    }
    .draft-container pre .title {
        font-weight: bold;
    }
    .draft-container pre .page-stuff {
        color: #999999;
    }
</style>
<link rel="icon" href="/static/favicon-32.png" sizes="32x32">
<link rel="apple-touch-icon-precomposed" href="/static/favicon-152.png">
<title>Teleport - Lightweight JSON Types</title>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="bs" style="margin:0px">

<div class="container">
    <div class="col-md-12">
        <div class="draft-container" style="margin-left:auto;margin-right:auto">
            {{{ body }}}
        </div>
    </div>
  </div>
</div>
<footer style="margin-top:70px">
  <div class="container">
    <hr/>
    <p>Copyright 2014 by Alexei Boronine.</p>
  </div>
</footer>

</body>
</html>
