<html class="bs">
<head>
<title>Teleport - Minimal JSON Types</title>
</head>

<body>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="page-header">
              <h1>Teleport<br/>
                  <small>Minimal JSON types</small></h1>
          </div>
      </div>
      <div class="col-md-6">
          <pre class="front-page highlight-please python">from teleport import t, Undefined

TODO = t({"Struct": {
            "required": {"text": "String"},
            "optional": {"deadline": "DateTime",
                         "tags": {"Array": "String"}}}})</pre>
          <h4>For validation &amp; serialization:</h4>
          <pre class="front-page highlight-please python">&gt;&gt;&gt; TODO.from_json({
...     'text': 'Return videotapes',
...     'deadline': '2014-10-14T21:17:00.663882',
...     'tags': ['movies'],
... })
{'deadline': datetime.datetime(2014, 10, 14, 21, 17, 0, 663882),
 'tags': [u'movies'],
 'text': u'Return videotapes'}</pre>
          <h4>For API servers:</h4>
          <pre class="front-page highlight-please python">def add_todo(request):
    try:
        todo = TODO.from_json(request.json)
    except Undefined:
        raise BadRequest("Invalid JSON data")
    Todo.create(**todo)</pre>
          <h4>For API clients:</h4>
          <pre class="front-page highlight-please python">def add_todo(**todo):
    payload = json.dumps(TODO.to_json(todo))
    requests.post('http://api.example.com/todos', data=payload)</pre>
      </div>
      <div class="col-md-6">
          <p>Teleport is a type system extending JSON. You can use it for:</p>
          <ul>
              <li>Validating input</li>
              <li>Building JSON serializers</li>
              <li>Building API servers and clients</li>
              <li>Auto-generating API documentation</li>
          </ul>
          <p>Principles:</p>
          <ul>
              <li>Minimalism (< <a href="https://github.com/cosmic-api/teleport/blob/master/python/teleport/core.py">1000 LOC</a>)</li>
              <li>Portability and extensibility</li>
              <li>Language-agnostic specification</li>
              <li>Enforces existing conventions</li>
              <li>Open Source (<a class="reference external" href="http://opensource.org/licenses/MIT">MIT license</a>)</li>
          </ul>
          <div class="panel panel-default" style="margin-top:60px">
              <div class="panel-heading">
                  <h3 class="panel-title">Compatibility</h3>
              </div>
              <div class="panel-body">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>Specification</th>
                          <th>Python implementation</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td><a href="/spec/draft-01/">draft-01</a></td>
                          <td>WIP</td>
                      </tr>
                      <tr>
                          <td><a href="/spec/draft-00/">draft-00</a></td>
                          <td>0.3.0 (<a href="/python/0.3/">docs</a>)</td>
                      </tr>
                      <tr>
                          <td><a href="/spec/1.0/">1.0</a> (obsolete)</td>
                          <td><del>0.2.1</del> (<a href="/python/0.2/">docs</a>)</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
      </div>
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">Development</h3>
              </div>
              <div class="panel-body">
                  <p>Source code, specification as well as this site are all in a <a href="https://github.com/cosmic-api/teleport/">single git repository</a>.</p>
                  <p>Use the <a href="https://github.com/cosmic-api/teleport/issues">issue tracker</a> to report bugs and offer suggestions.
                  Join the discussion in the <a href="https://groups.google.com/forum/#!forum/teleport-json">mailing list</a>
                  or email the author <a href="mailto:alexei@boronine.com">directly</a>.</p>
                  <p>
                      Teleport is very new and needs all kinds of help: from reviewing the
                      specification, to suggesting features, to porting it to new programming
                      languages.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>
<footer style="margin-top:70px">
  <div class="container">
    <p>Copyright 2014 by <a href="http://www.boronine.com">Alexei Boronine.</a></p>
  </div>
</footer>

</body>
</html>
