<html class="bs">
<head>
<title>Teleport - Lightweight JSON Type System</title>
</head>

<body>

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="page-header">
              <h1>Teleport
                  <small>Lightweight JSON Types</small>
              </h1>
          </div>
      </div>
      <div class="col-md-6">
          <pre class="front-page highlight-please python">from teleport import t, Undefined

TODO = t({"Struct": {
            "required": {"text": "String"},
            "optional": {"deadline": "DateTime",
                         "tags": {"Array": "String"}}}})</pre>
          <h3>For validation &amp; serialization</h3>
          <pre class="front-page highlight-please python">&gt;&gt;&gt; TODO.from_json({
...     'text': 'Return videotapes',
...     'deadline': '2014-10-14T21:17:00.663882',
...     'tags': ['movies'],
... })
{'deadline': datetime.datetime(2014, 10, 14, 21, 17, 0, 663882),
 'tags': [u'movies'],
 'text': u'Return videotapes'}</pre>
          <h3>For API servers</h3>
          <pre class="front-page highlight-please python">def add_todo(request):
    try:
        todo = TODO.from_json(request.json)
    except Undefined:
        raise BadRequest("Invalid JSON data")
    Todo.create(**todo).id</pre>
          <h3>For API clients</h3>
          <pre class="front-page highlight-please python">def add_todo(**todo):
    payload = json.dumps(TODO.to_json(todo))
    requests.post(url, data=json.dumps(payload))</pre>
      </div>
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">About</h3>
              </div>
              <div class="panel-body">
                  <p>Teleport is a type system extending JSON. You can use it:</p>
                  <ul>
                      <li>To validate input</li>
                      <li>To build JSON serializers</li>
                      <li>To build API servers and clients</li>
                      <li>To auto-generate API documentation</li>
                      <li>To explore type systems</li>
                  </ul>
                  <p>Teleport's principles:</p>
                  <ul>
                      <li>Minimalism (< <a href="https://github.com/cosmic-api/teleport/blob/master/python/teleport/core.py">1000 LOC</a>)</li>
                      <li>Portability and extensibility</li>
                      <li>Language-agnostic specification</li>
                      <li>Enforces existing conventions</li>
                      <li>Open Source (<a class="reference external" href="http://opensource.org/licenses/MIT">MIT license</a>)</li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Compatibility</h3>
              </div>
              <div class="panel-body">
                  <table class="table">
                      <thead>
                      <tr>
                          <th>Specification</th>
                          <th>Python implementation</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                          <td><a href="https://datatracker.ietf.org/doc/draft-boronine-teleport/?include_text=1">draft-boronine-teleport-00</a></td>
                          <td>v0.3.0 (<a href="/python/0.3/">docs</a>)</td>
                      </tr>
                      <tr class="warning-fuggggggggggggggly">
                          <td><a href="/spec/1.0/">1.0</a> <span class="label label-warning">Obsolete</span></td>
                          <td>v0.2.1 (<a href="/python/0.2/">docs</a>)</td>
                      </tr>
                      </tbody>
                  </table>
              </div>
            </div>
      </div>
      <div class="col-md-6">
          <div class="panel panel-primary">
              <div class="panel-heading">
                  <h3 class="panel-title">Development</h3>
              </div>
              <div class="panel-body">
                  <dl class="dl-">
                      <dt>GitHub</dt>
                      <dd><a href="https://github.com/cosmic-api/teleport">cosmic-api/teleport</a></dd>
                  </dl>
                  <p>Use the <a href="https://github.com/cosmic-api/teleport/issues">issue tracker</a> to report bugs and offer suggestions.
                  Join the discussion in the <a href="https://groups.google.com/forum/#!forum/teleport-json">mailing list</a>
                  or email the author <a href="mailto:alexei@boronine.com">directly</a>.</p>
              </div>
          </div>
      </div>
  </div>
</div>
<footer style="margin-top:70px">
  <div class="container">
    <p>Copyright 2014 by <a href="http://www.boronine.com">Alexei Boronine.</a></p>
  </div>
</footer>

</body>
</html>
