<div class="bs">

<nav class="navbar navbar-static-top navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header" style="width:70px">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/">
        <img src="/static/teleport-logo.svg" class="hide-xs" style="height:60px;width:60px"/>
      </a> 
    </div>
    <div class="collapse navbar-collapse" id="bs-collapse">
      {{#menu}}
      <ul class="nav navbar-nav">
        <li{{#about}} class="active"{{/about}}>
          <a href="/">About</a>
        </li>
        <li{{#docs}} class="active"{{/docs}}>
          <a href="/python/latest/">Python</a>
        </li>
        <li{{#spec}} class="active"{{/spec}}>
          <a href="/spec/{{latestSpec}}/">Specification</a>
        </li>
      </ul>
      {{/menu}}
      <ul class="nav navbar-nav navbar-right">
        {{#activeSection}}
          {{#repoLink}}
          <li class="hidden-xs"><a href="https://groups.google.com/forum/#!forum/teleport-json" style="padding-left:0px"> &nbsp;<i class="fa fa-comments-o"></i>&nbsp;&nbsp;Discussion</a></li>
          <li class="hidden-xs"><a href="https://github.com/cosmic-api/teleport/issues" style="padding-left:0px"> &nbsp;<i class="fa fa-bug"></i>&nbsp;&nbsp;Bugs</a></li>
          <li class="hidden-xs"><a href="https://github.com/cosmic-api/teleport" style="padding-left:0px"> &nbsp;<i class="fa fa-code-fork"></i>&nbsp;&nbsp;Code</a></li>

          {{/repoLink}}
          {{#star}}
          <li class="hidden-xs">
            <iframe src="http://ghbtns.com/github-btn.html?user=cosmic-api&amp;repo=teleport&amp;type=watch&amp;count=true" style="margin-top:20px" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"/>
          </li>
          {{/star}}
          {{#subMenuShow}}
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">{{{ activeVersion }}}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                {{#subMenu}}
                  {{#divider}}
                    <li class="divider"></li>
                  {{/divider}}
                  {{#version}}
                    <li>
                        <a href="/{{ activeSectionId }}/{{ version }}/">
                          {{{ version }}}
                        </a>
                    </li>
                  {{/version}}
                {{/subMenu}}
              </ul>
            </li>
          {{/subMenuShow}}
        {{/activeSection}}
      </ul>
    </div>
  </div>
</div>
