<html class="bs">
<head>
    <title>Teleport Specification - Minimal JSON Types</title>
</head>
<body>

<div class="container">
    <div class="col-md-5" style="margin-top:80px">
        <h1 style="margin-bottom:40px">
            Specification
        </h1>
        <p>
        </p>
        <h4>draft-04</h4>
        <ul>
            <li>Get rid of Decimal in favor of Float</li>
            <li>Rename Struct to Object</li>
            <li>Allow objects to have unspecified attributes</li>
        </ul>
        <h4>draft-03</h4>
        <p><a href="https://tools.ietf.org/html/draft-boronine-teleport-03">Submitted on Sep 27, 2015</a></p>
        <ul>
            <li>Allow omitting p.required and p.optional from the Struct parameter</li>
        </ul>
        <h4>draft-02</h4>
        <p><a href="https://tools.ietf.org/html/draft-boronine-teleport-02">Submitted on Dec 5, 2014</a></p>
        <ul>
            <li>Get rid of Float in favor of Decimal</li>
            <li>Use RFC 3339 instead of ISO 8601 (Thanks <a href="http://www.sw.it.aoyama.ac.jp/D%C3%BCrst/">Martin</a>!)
            </li>
            <li>Expand Concrete Types section</li>
        </ul>
        <h4>draft-01</h4>
        <p><a href="https://tools.ietf.org/html/draft-boronine-teleport-01">Submitted on Dec 2, 2014</a></p>
        <ul>
            <li>Allow Struct parameter to store metadata</li>
            <li>Fix error in &quot;JSON Schemas&quot; sections</li>
            <li>Expand definition for JSON type</li>
        </ul>
        <h4>draft-00</h4>
        <p><a href="https://tools.ietf.org/html/draft-boronine-teleport-00">Submitted on Nov 10, 2014</a></p>
        <ul>
            <li>Initial version</li>
        </ul>
    </div>
    <div class="col-md-7">
        <div class="draft-container" style="margin-left:auto;margin-right:auto">
            {{{ body }}}
        </div>
    </div>
</div>

<footer style="margin-top:70px">
    <div class="container">
        <hr/>
        <p>Copyright 2016 by Alexei Boronine.</p>
    </div>
</footer>

</body>
</html>
