<html class="bs">
<head>
<title>Teleport Specification - Minimal JSON Types</title>
</head>
<body>

<div class="container">
    <div class="col-md-4" style="margin-top:80px">
        <h1 style="margin-bottom:40px">
            Specification
        </h1>
        <p>
            The first <a href="https://datatracker.ietf.org/doc/draft-boronine-teleport/">Internet Draft</a> has
            been submitted on Nov&nbsp;10, 2014. I&nbsp;welcome you to join the
            discussion in the <a href="https://groups.google.com/forum/#!forum/teleport-json">mailing list</a>.
        </p>
        <p>
            Teleport is very new and needs all kinds of help: from reviewing the
            specification, to suggesting features, to porting it to new programming
            languages.
        </p>
    </div>
    <div class="col-md-8">
        <div class="draft-container" style="margin-left:auto;margin-right:auto">
            {{{ body }}}
        </div>
    </div>
  </div>
</div>
<footer style="margin-top:70px">
  <div class="container">
    <hr/>
    <p>Copyright 2014 by Alexei Boronine.</p>
  </div>
</footer>

</body>
</html>
